.wrapper{
	width: 890px;
	height: 900px;
	background-color: #fff;
	border: 1px solid #aaaaaa;
	margin: 100px auto;
	position: relative;
}
.menu{
	margin: 0 auto;
	position: absolute;
}
.menu li{
	float:left;
	margin-right: 10px;
	list-style: none;
	position: relative;
}
.grey{
	display: block;
	width: 808px;
	height: 30px;
	background-color: #d8d8d8;
	border:  1px solid #aaa;
	border-radius: 3px;
	position: absolute;
	top: 26px;
	left: -5px;
	z-index: 2;
}
.menu a{
	display: block;

	width: 100px;
	line-height: 24px;
	text-align: center;
	border-radius: 3px 3px 0 0;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	font-family: Tahoma;
	font-size: 13px;
	text-decoration: none;
	position: relative;
	z-index: 3;
}
.link{
	height: 25px;
	background-color: #fff;
}
.link2{
	height: 24px;
	background-color: #eeeeee;	
}
.menu a:hover{
	width: 100px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #aaa;
	border-bottom: none;
	background-color: #e5e3e3;
}
.menu a:focus{
	width: 98px;
	height: 22px;
	line-height: 22px;
	color: black;
	border: 2px solid #a6c8ff;
	background-color: #fff;
}
.first_tab{
	top:22px;
	left: 31px;
}
.second_tab{
	top:22px;
	left: 31px;
}
.third_tab{
	top:22px;
	left: 31px;
}
.wrapper .first_tab,.wrapper .second_tab,.wrapper .third_tab{
	position: absolute;
	width: 786px;
	padding: 55px 10px 20px 20px;
	font-family: Tahoma;
	font-size: 12px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #aaaaaa;
}

form{
	width: 786px;
	margin: 200px auto 0;
}
.inputs{
	width: 786px;
	margin: 0 auto;
	font-family: Tahoma;
	font-size: 12px;
	border: 2px solid #b4b4b4;
}

.inputs label {
	display: block;
	margin: 20px;
}
input{
	margin-left: 5px;
}
.button{
	margin: 10px 0 0 43px;
}
.tooltipStyle{
	border: 1px solid #524F4F;
	padding: 7px;
}
#address{
	margin-left: 14px;
}
