@font-face {
    font-family: 'museo_sans';
    src: url('../font/museosanscyrl-webfont.eot');
    src: url('../font/useosanscyrl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/museosanscyrl-webfont.woff2') format('woff2'),
         url('../font/museosanscyrl-webfont.woff') format('woff'),
         url('../font/museosanscyrl-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('../font/playfair_display_regular.otf');
}
@media (min-width: 320px) and (max-width: 480px){
.wrapper {
	width: 100%;
	padding: 5px;
}
.header {
	background-color: #f6f6f6;
	padding-bottom: 10px;
}
.header__image {
	padding: 5px;
}
.header__image img {
	display: block;
	width: 294px;
	margin: 0 auto;
}
.header__textBlock {
	width: 100%;
}
.header__title {
	font: 22px museo_sans;
	letter-spacing: 3px;
	margin: 10px 2px 3px 20px;
	text-align: center;
}
.header__title--name {
	font-size: 45px;
	margin-top: 20px;
	margin-left: 5px;
	letter-spacing: 9px;
	text-align: center;
}
.header__text {
	font: 15px museo_sans;
	font-weight: bold;
}
.header__text--margin1 {
	margin: 10px;
}
.header__text--text {
	font-weight: normal;
	margin:10px 10px 25px 10px;
	line-height: 24px;
}
.header__text--margin2 {
	margin: 5px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.middle__image {
	padding: 15px 0;
}
.middle__image img{
	width: 95%;
	margin: 5px;
}
.middle__text {

}
.middleImage {
	display: block;
	padding:5px;
	float: left;
}
.middle__text p {
	float: left;
}
.header__text--margin3 {
	width:49%;
	margin-top: 5px;
	margin-left: 5px;
  	letter-spacing: -0.5px;
}
 .header__text--margin4 {
 	width: 49%;
	margin-top: 16px;
	margin-left: 5px;
	font-weight: normal;
 }
 .header__text--margin5 {
	margin-top: 15px;
	margin-left: 5px;
	letter-spacing: -1px;
 }
  .header__text--margin6 {
	margin-top: 15px;
	margin-left: 5px;
	line-height: 20px;
	font-weight: normal;
 }
.header__text--dnk {
	margin: 15px 5px 5px 5px;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: -1px;
	text-indent: 16px;
 }
.header__text--margin7 {
	margin: 5px;
	letter-spacing: -0.5px;
 }
.header__text--margin8, .header__text--margin9 {
	margin: 5px;
	line-height: 20px;
	font-weight: normal;
	letter-spacing: 1px;
 }
 .header__text--margin9 {
	margin-top: 3px;
 }
 .lastInfo {
 	margin-top: 10px;
 }
 .lastInfo__image img{
 	width: 95%;
 	padding: 5px;
 }
.lastIndo__text {
 	padding-top: 5px;
}
.header__text--margin10 {
	margin: 10px 5px 5px 5px;
	letter-spacing: -0.5px;
}
.header__text--margin11 {
	margin: 15px 5px 5px 5px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: normal;
}
.header__text--margin12 {
	margin: 15px 5px 5px 5px;
	letter-spacing: -0.5px;
}
.header__text--margin13 {
	margin: 15px 5px 5px 5px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: normal;
}
.share {
	text-align: center;
	margin: 10px 5px 5px 5px;
	cursor: pointer;
}
.share i{
	margin-right: 12px;
	color: #000;
}
.collection {
	margin-top: 20px;
}
.collection__title {
	font-family:playfair;
	font-size: 30px;
	font-style: italic;
	margin: 5px;
	text-align: center;
}
.autor {
	font-family: museo_sans;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
}
.option {
	font-family: museo_sans;
	font-size: 13px;
	text-align: center;
	padding-top: 5px;
}
.footer {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	margin-top: 15px;
	position: relative;
}
.footer__block {
	width: 100%;
	height: 160px;
	margin: 5px;
	text-align: center;
}
.footer__block--second {
	position: relative;
}
.footer__block--second:after {
	content: '';
	display: block;
	width: 92px;
	height: 139px;
	background-image: url(../img/gucci_i.jpg);
	position: absolute;
	top: -20px;
	left: 55%;
}
.footer__question{
	font-family: museo_sans;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin: 17px 5px 5px 5px;
}
.footer__help,.footer__number {
	font-family: museo_sans;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	margin: 15px;
	text-align: center;
}
.footer__number {
	margin-top: 3px;
}
.footer__Gucci {
	width: 50%;
	font-weight: playfair;
	font-size: 25px;
	line-height: 25px;
	font-style: italic;
	margin: 5px 10px 5px 5px;
}
.footer__surprise {
	width: 50%;
	font-family: museo_sans;
	font-size: 14px;
	line-height: 20px;
	margin-top: 17px;
	margin-left: 16px;
	text-align: center;
}
.footer__block--last {

	font-family: museo_sans;
	font-size: 13px;
	line-height: 20px;
	border-right: none;
	margin: 5px;
}
.footer__send {
	margin-top: 17px;
	margin-left: 0;
	margin-bottom: 9px;
}
.footer__posh {
	margin-left: 18px;
	margin-bottom: 10px;
	padding-right: 39px;
	padding-left: 0;
}
.modal {	
	width: 150px;
	height: 150px;
	background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 20%;

    -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.75);
}
.email__your {
	float: left;
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 2px;
	border: none;
	width: 110px;
	height: 25px;
}
.email__button {
	float: left;
	width: 95px;
	height: 63px;
	font-weight: bold;
	background-color: #e8dadc;
	margin-left: 31px;
	line-height: 63px;
	text-align: center;
	cursor: pointer;
}
.footer__copyMenu {

}
.footer__copyright {
	font-family: museo_sans;
	font-size: 14px;
	color: #606060;
	text-align: center;
	padding-top: 30px;
}
.footer__menu{
	padding-top: 35px;
	text-align: center;
}
.footer__list {
	list-style: none;
}
.footer__link {
	text-decoration: none;
	cursor: pointer;
	font-family: museo_sans;
	font-size: 14px;
	color: #606060;
}
.footer__link:hover {
	text-decoration: underline;
}
}