
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$color:  #f1670a;

@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
.wrapper{
    width:1920px;
    margin: 20px auto;
}
header {
    width: 1170px;
    margin: 0 auto;
}
.firstLine__img{
    width:36px;
    height: 36px;
    margin-top: 5px;
    float: left;
    margin-right: 10px;
    background-image: url(../img/logo.png);
}
.firstLine__text {
    float: left;
    display: inline;
    width: 200px;
}
.firstLine__usualText {
    display: block;
	color: #434343;
	font-family: ubuntumedium;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.firstLine__capitalText {
    display: block;
	color: #7a7a7a;
    font-size: 30px;
    letter-spacing: 0,3;
}
.firstLine-contact{
    float: right;
    margin-top: 20px;
    margin-right:20px;
}
.firstLine-contact__menu{
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}
.firstLine-contact__item{
    float:left;
    list-style: none;
    margin-right: 13px;
}
.firstLine-contact__link{
    display: block;
    width: 22px;
    height: 18px;
    text-decoration: none;
    background: url(../img/sprite.png) no-repeat;
}
.firstLine-contact__link:hover{
    cursor: pointer;
}
.firstLine-contact__link--fb{
    background-position: -2px -135px;
}
.firstLine-contact__link--fb:hover{
    background-position: -2px -153px;
}
.firstLine-contact__link--twit{
    background-position: -1px -70px;
    height: 15px;
    width: 23px;
}
.firstLine-contact__link--twit:hover{
    background-position: -1px -85px;
}
.firstLine-contact__link--rss{
    background-position: -2px -101px;
    height: 15px;
    width: 15px;
}
.firstLine-contact__link--rss:hover{
    background-position: -2px -118px;
}
.firstLine-contact__link--in{
    background-position: -2px 0px;
    height: 16px;
    width: 17px;
}
.firstLine-contact__link--in:hover{
    background-position: -2px -17px;
}
.firstLine-contact__link--skype {
    background-position: -2px -34px;
    height: 16px;
    width: 17px;
}
.firstLine-contact__link--skype:hover {
    background-position: -2px -52px;
}
.topMenuBlock {
    display: block;
    width: 1160px;
    height: 55px;
    background-color: #2a2d32;
    margin-top: 35px;
}
.topMenu {
    float: left;
    width: 800px;
}
.topMenu__item {
    float:left;
    list-style: none;
}
.topMenu__link {
    display: block;
    width: 116px;
    height: 55px;
    line-height: 55px;
    text-decoration: none;
    color: #ffffff;
    font-family: ubuntumedium;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #181a1d;
}
.topMenu__item:first-child {
    background-color: #248cec;
}
.topMenu__link:hover {
    cursor: pointer;
    color:#f4b60d;
}
.topMenuBlock__form {
    display: block;
    float: right;
}
.formInput {
    width: 230px;
    height: 40px;
    margin:5px;
    padding-left: 10px;
    color: #ffffff;
    background-color: #35383c;
    background-image: url(../img/search.jpg);
    background-position: 200px 13px;
    background-repeat: no-repeat;
    border: 1px solid #181a1d;
    outline: none;
}

::-webkit-input-placeholder  { color:#535659; }
:-moz-placeholder { color:#535659; }
:-ms-input-placeholder { color:#535659; }

.section {
    width: 1170px;
    margin: 0 auto;
}
.carousel-wrapper {
    position: relative;
    z-index: 1;
}
.carousel-wrapper:after {
    content: "";
    display: block;
    width: 308px;
    height: 197px;
    background-image: url(../img/slogan.png);
    position: absolute;
    z-index: 2;
    top: 245px;
    left: 32px;
}

.textBlocks {
    margin-top: 65px;
}
.article {
    width: 250px;
    margin: 10px 15px 0 120px;
    position: relative;
    float: left;
}
.article:before {
    content: '01';
    width: 110px;
    height: 110px;
    color: #e9e9ea;
    font-family: ubuntumedium;
    font-size: 90px;
    position: absolute;
    top: -17px;
    left: -128px;
}
.article--picture:before {
    content: '02';
}
.article--truck:before {
    content: '03';
}
.article__img {
    width: 32px;
    height: 32px;
    background-image: url(../img/cogwheel.jpg);
    margin-bottom: 10px;
}
.article__img--picture {
    background-image: url(../img/picture2.jpg);
}
.article__img--truck {
    height: 26px;
    background-image: url(../img/truck.jpg);
}
.article__title {
    display: block;
    font-family: ubuntumedium;
    font-size: 20px;
    color: #2a2b2e;
}
.article__text {
    display: block;
    font-family: Arial;
    font-size: 13px;
    color: #8a8a8a;
    margin-top: 20px;
    line-height: 20px;
}
.article__title--moreText {
    font-size: 13px;
    margin-top: 20px;
    position: relative;
}
.article__title--moreText:after {
    content: '';
    width: 10px;
    height: 9px;
    display: block;
    background-image: url(../img/pointer.jpg);
    position: absolute;
    top:2px;
    left: 70px;
}
.services {
    background-color: #2a2d32;
    margin: 60px auto;
    width: 1920px;
    height: 500px;
}
.services__wrapper {
    width: 1170px;
    margin: 0 auto;
}
.services__title {
    font-family: ubuntumedium;
    font-size: 24px;
    color: #ffffff;
    display: block;
    padding-top: 50px;
    padding-left: 10px;
}
