<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AJAX & OOP</title>
	 	<link rel="stylesheet" href="css/style.css">
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="js/lodash.js"></script>
	    <!-- <script type="text/javascript" src="js/src/script_ajax.js"></script> 
	     <script type="text/javascript" src="js/src/script_object.js"></script> -->
	    <script type="text/javascript" src="js/script.main.js"></script> <!--concat--> 
</head>
<body>

	<div class="wrapper">
		<div class="center">
			<form method="post" action="#" id="form">
				<input type="text" class = "input" name="request" size="65px" height="40px" placeholder="Введите Ваш запрос">
				<button type="submit" class="button">Поиск в Google</button>
			</form>
		</div>
		<script type="text/template" id="tmpl">
			<% for (var key in dat){ %>
		 		<div class="searchResults">
	 				<div class="title">
	 					<p><%= dat[key].title %></p>
					</div>
					<div class="url">
						<a href="<%= dat[key].url %>"><%= dat[key].url %></a>
	 				</div>
	 				<div class="content">
						<p><%= dat[key].content %></p>
					</div>
		  		</div>
			<% } %>
				<div class="groupMoreLinks">
			<%
					for (var k=0; k<numberLinks; k++){%>
						<a href="#" class="link"><%= k+1 %></a>
					<%}%>
				</div>
		</script>
	</div>
</body>
</html>