		<header>
			<div class="header_content clearfix">
				<div><a href="#" class="register_style register_style--sign">Sign up</a></div>
				<div><a href="#" class="register_style">Log in</a></div>
				<h1 class="title title--header">URLAUBSGLÜCK</h1>
				<span class="header_content__slogan">share your holiday dreams</span>
				<span class="header_content__partner">And find the perfect partner <span class="block">to fullfill it</span></span>
				<div class="button">Find your holiday partner</div>
			</div>
		</header>