* {
	margin: 0;
	padding: 0;
}

input {
	margin-top: 10px;
	background-color: #ebebe4;
}
.wrapper {
	width: 500px;
	margin: 100px auto;
}
.todo-title{
	font: 30px Tahoma bold;
	color: #1876bc;
}
.item-list li {
	list-style: none;
}
.deleteImage, .editImage {
	width: 20px;
	height: 20px;
}
.activeInput{
	border: 1px solid #1876bc;
	background: #fbfcd5;
}
.item-add{
	background-color: #1876bc;
	width: 50px;
	height: 25px;
}