body {
	width: 100%;
	height: 100%;
}
@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
.wrapper {
	position: fixed;
  	top: 0;
 	left: 0;
    width: 100%;
    height: 100%;
  	background: url(../img/fon.jpg) no-repeat;	
	background-size: cover;
	font-family: 'helveticaneuecyrthin';
	color:white;
}
.top_line{
	background-color: #085495;
	width: 100%;
	height: 38px;
	font-size: 14px;
}
.enter{
	float: right;
	width: 191px;
	height: 36px;
	margin-right: 21px;
	line-height: 36px;
	
	text-align: center;
	position: relative;
	overflow: hidden;
	
background: rgba(81,176,220,1);
background: -moz-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(67,155,210,1) 36%, rgba(50,127,199,1) 70%, rgba(46,121,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(81,176,220,1)), color-stop(36%, rgba(67,155,210,1)), color-stop(70%, rgba(50,127,199,1)), color-stop(100%, rgba(46,121,196,1)));
background: -webkit-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(67,155,210,1) 36%, rgba(50,127,199,1) 70%, rgba(46,121,196,1) 100%);
background: -o-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(67,155,210,1) 36%, rgba(50,127,199,1) 70%, rgba(46,121,196,1) 100%);
background: -ms-linear-gradient(top, rgba(81,176,220,1) 0%, rgba(67,155,210,1) 36%, rgba(50,127,199,1) 70%, rgba(46,121,196,1) 100%);
background: linear-gradient(to bottom, rgba(81,176,220,1) 0%, rgba(67,155,210,1) 36%, rgba(50,127,199,1) 70%, rgba(46,121,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b0dc', endColorstr='#2e79c4', GradientType=0 );
}
.bottom-to-top {
  position: relative;
  border-bottom: 2px solid #4299d2;
}
.bottom-to-top:before, .bottom-to-top:after {
position: absolute;
  content: "";
  width: 1px;
  border-image: linear-gradient(to top, #4299d2, rgba(0, 0, 0, 0)) 0 100%;
  bottom: -2px;/*растягиваем линию вниз*/
}

.bottom-to-top:before {
  left: -6px;
  top: 15px;
}
.bottom-to-top:after {
  right: -6px;
  top: 15px; 
}
.enter a{
	text-decoration: underline;
	color: white;
}
.flag_link{
	float: right;
	width: 143px;
	height: 33px;
	line-height: 33px;
	padding-right: 15px;
	margin-top: 2px;
	text-align: right;
	position: relative;
	border-left: 1px solid #56a2dc;
}
.flag_link:before{
	content: "";
	display: block;
	width:21px;
	height: 23px;
	position: absolute;
	float: left;
	background: url(../img/flag.png) no-repeat;
	top: 50%;
	margin-top: -11px;
	left: 20px;
}
.menu {
	float: right;
	height: 38px;
	line-height: 38px;
	margin-right: 10px;
}
.menu ul{
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}
.menu li{
	float: left;
	list-style: none;
}
.menu a{
	float: left;
	display: block;
	margin-right:15px;
	margin-left: 13px;
	color: white;
	text-decoration: none;
}
.menu li:hover{
	background-color: #4eabda;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.content{
	width: 100%;
	height: 100%;
	display: table;

}
.form_background {
	display: table-cell;
    vertical-align: middle;
}
.form_background_1{
	width: 560px;
	height: 60px;
	background-color: rgba(0,0,0,0.5);
	margin:0 auto;
	margin-bottom: 2px;
	font-size: 24px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
}
.form_background_2{
	width: 560px;
	height: 550px;
	background-color: rgba(0,0,0,0.5);
	margin:0 auto;
	padding-top: 36px;
}
.form_background_2 a{
	text-decoration: none;
}
.fb{
	width: 276px;
	height: 35px;
	margin: auto;
	border-radius: 4px;
	border-top: 1px solid #758aba;
	position: relative;
	
background: rgba(63,86,154,1);
background: -moz-linear-gradient(top, rgba(63,86,154,1) 0%, rgba(54,82,147,1) 29%, rgba(49,72,128,1) 49%, rgba(49,67,115,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(63,86,154,1)), color-stop(29%, rgba(54,82,147,1)), color-stop(49%, rgba(49,72,128,1)), color-stop(100%, rgba(49,67,115,1)));
background: -webkit-linear-gradient(top, rgba(63,86,154,1) 0%, rgba(54,82,147,1) 29%, rgba(49,72,128,1) 49%, rgba(49,67,115,1) 100%);
background: -o-linear-gradient(top, rgba(63,86,154,1) 0%, rgba(54,82,147,1) 29%, rgba(49,72,128,1) 49%, rgba(49,67,115,1) 100%);
background: -ms-linear-gradient(top, rgba(63,86,154,1) 0%, rgba(54,82,147,1) 29%, rgba(49,72,128,1) 49%, rgba(49,67,115,1) 100%);
background: linear-gradient(to bottom, rgba(63,86,154,1) 0%, rgba(54,82,147,1) 29%, rgba(49,72,128,1) 49%, rgba(49,67,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f569a', endColorstr='#314373', GradientType=0 );
}
.fb:hover{
background: rgba(49,67,115,1);
background: -moz-linear-gradient(top, rgba(49,67,115,1) 0%, rgba(49,72,128,1) 51%, rgba(54,82,147,1) 71%, rgba(63,86,154,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,67,115,1)), color-stop(51%, rgba(49,72,128,1)), color-stop(71%, rgba(54,82,147,1)), color-stop(100%, rgba(63,86,154,1)));
background: -webkit-linear-gradient(top, rgba(49,67,115,1) 0%, rgba(49,72,128,1) 51%, rgba(54,82,147,1) 71%, rgba(63,86,154,1) 100%);
background: -o-linear-gradient(top, rgba(49,67,115,1) 0%, rgba(49,72,128,1) 51%, rgba(54,82,147,1) 71%, rgba(63,86,154,1) 100%);
background: -ms-linear-gradient(top, rgba(49,67,115,1) 0%, rgba(49,72,128,1) 51%, rgba(54,82,147,1) 71%, rgba(63,86,154,1) 100%);
background: linear-gradient(to bottom, rgba(49,67,115,1) 0%, rgba(49,72,128,1) 51%, rgba(54,82,147,1) 71%, rgba(63,86,154,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#314373', endColorstr='#3f569a', GradientType=0 );
}
.letter_before{
	background-image: url(../img/f.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 11px;
	height: 22px;
	top: 7px; 
	left:15px;
}
.letter span{
	display: inline;
	font-weight: normal;
}
.letter{
	width: 197px;
	height: 32px;
	line-height: 32px;
	padding-left: 70px;
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: white;
	position: relative;
}
.letter_after{
	background-image: url(../img/strelka.png);
	background-repeat: no-repeat;
	position: absolute;
	width: 8px;
	height: 12px;
	top: 12px; 
	left:243px;
}
.letter:before{
	content: "";
	display: block;
	position: absolute;
	top:0;
	right: 227px;
	width: 1px;
	height: 35px;
	background-color: #213c71;
	border-right: 1px solid #4f68aa;
}
.line{
	width: 30px;
	margin: 30px auto;
	padding: 0 3px;
	font-size: 14px;
	color: #999999;
	position: relative;
}
.line:before {
	content: "";
	display: block;
	position: absolute;
	top:50%;
	right: 40px;
	width: 117px;
	height: 2px;
	background: url(../img/line.jpg) repeat-x;
}
.line:after {
	content: "";
	display: block;
	position: absolute;
	top:50%;
	left: 30px;
	width: 123px;
	height: 2px;
	background: url(../img/line.jpg) repeat-x;
}
.form {
	width: 276px;
	margin: 0 auto;
}
input[type="text"], input[type="password"] {
	margin-bottom: 14px;
	padding-left: 17px;
	width: 260px;
	height: 34px;
	background-color: #101010;
	color: #cccccc;
	font-size: 14px;
	outline:none;
	border:none;
	border-bottom: 1px solid #474747;
}
input[type="text"]:focus, input[type="password"]:focus {
	background-color: #1b5288;
	-webkit-box-shadow: 0px 0px 14px 3px rgba(77,138,178,1);
	-moz-box-shadow: 0px 0px 14px 3px rgba(77,138,178,1);
	box-shadow: 0px 0px 14px 3px rgba(77,138,178,1);
}
[type="checkbox"]{
	width: 13px;
	height: 13px;
	border-radius: 0;
}
label{
	color: #cccccc;
	font-size: 14px;
}
input[type="submit"]{
	display: block;
	width: 151px;
	height: 38px;
	margin: 22px auto;
	border-radius: 3px;
	border: 1px solid #4f9fd9;
background: rgba(78,171,218,1);
background: -moz-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(68,157,212,1) 29%, rgba(50,129,199,1) 49%, rgba(46,121,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(78,171,218,1)), color-stop(29%, rgba(68,157,212,1)), color-stop(49%, rgba(50,129,199,1)), color-stop(100%, rgba(46,121,196,1)));
background: -webkit-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(68,157,212,1) 29%, rgba(50,129,199,1) 49%, rgba(46,121,196,1) 100%);
background: -o-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(68,157,212,1) 29%, rgba(50,129,199,1) 49%, rgba(46,121,196,1) 100%);
background: -ms-linear-gradient(top, rgba(78,171,218,1) 0%, rgba(68,157,212,1) 29%, rgba(50,129,199,1) 49%, rgba(46,121,196,1) 100%);
background: linear-gradient(to bottom, rgba(78,171,218,1) 0%, rgba(68,157,212,1) 29%, rgba(50,129,199,1) 49%, rgba(46,121,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eabda', endColorstr='#2e79c4', GradientType=0 );
}
input[type="submit"]:hover{
background: rgba(46,121,196,1);
background: -moz-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(50,129,199,1) 51%, rgba(68,157,212,1) 71%, rgba(78,171,218,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,121,196,1)), color-stop(51%, rgba(50,129,199,1)), color-stop(71%, rgba(68,157,212,1)), color-stop(100%, rgba(78,171,218,1)));
background: -webkit-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(50,129,199,1) 51%, rgba(68,157,212,1) 71%, rgba(78,171,218,1) 100%);
background: -o-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(50,129,199,1) 51%, rgba(68,157,212,1) 71%, rgba(78,171,218,1) 100%);
background: -ms-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(50,129,199,1) 51%, rgba(68,157,212,1) 71%, rgba(78,171,218,1) 100%);
background: linear-gradient(to bottom, rgba(46,121,196,1) 0%, rgba(50,129,199,1) 51%, rgba(68,157,212,1) 71%, rgba(78,171,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e79c4', endColorstr='#4eabda', GradientType=0 );
}
.agreement{
	color: #cccccc;
	font-size: 11px;
	line-height: 1.4;
}
span{
	display: block;
	text-align: center;
}