* {
	padding: 0;
	margin: 0;
}
body {
 background: url(../img/bg.jpg) repeat-x;
 background-color: #0c75a0;
}
.wrapper {
	width: 1000px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	background-color: white;
	border-bottom: 2px solid #031d28;
-webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.76);
box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.76);

}
.header {
	width: 1000px;
	height: 174px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.logo {
	display: block;
	float: left;
	background: url(../img/logo.jpg) no-repeat;
	width: 283px;
	height: 164px;
	margin-left: 30px;
	margin-top: 10px;
}
.contacts {
	float: right;
	margin-top: 5px;
	margin-right: 30px;
	margin-left: 200px;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 20px;
	color: #128aa7;
}
.contacts p{
	font-weight: bold;
}
.contacts span{
	display: block;
}
.flags {
	margin-top: 25px;
	margin-right: 30px;
	float: right;
	padding-left: 50px;
}
.flags ul{
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
}
.flags li {
	float: left;
	list-style: none;
	margin-left: 15px;
}
.flags img{
	margin-left:0;
	display: block;
	width: 42px;
	height: 42px;
}
.flags a {
	display: block;
	font: 10px Tahoma;
	text-align: center;
}
.image {
	background: url(../img/bridge.jpg) no-repeat #cacbcb;
	width: 1000px;
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	margin-bottom: 1px;
}
.menu {
	width: 1000px;
	height: 30px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,303030+100 */
background: #373737; /* Old browsers */
background: -moz-linear-gradient(top,  #373737 0%, #303030 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(100%,#303030)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #373737 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #373737 0%,#303030 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #373737 0%,#303030 100%); /* IE10+ */
background: linear-gradient(to bottom,  #373737 0%,#303030 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */

	border-bottom: 1px solid #000000;
	-webkit-box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
	-moz-box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
	box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
	position: relative;
	z-index: 1;
}
.main_list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -1px;
	margin-left: 50px;
}
.main_list img {
	display: inline-block;
	margin-left: 5px;
}
.main_list li {
	display: block;
	position: relative;
	float: left;
	list-style: none;
}
.main_list a {
	display: block;
	margin-right: 50px; 
	padding-left: 10px;
	font: 15px/30px Tahoma;
	text-decoration: none;
	color: #ffffff;
}
.main_list ul{
	position: absolute;
	left: 0;
	top:30px;
	display: none;
	background-color: #303030;
	border-top: 1px solid #000;
	-webkit-box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
	-moz-box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
	box-shadow: 0px 3px 3px -2px rgba(79,79,80,1);
}
.main_list ul li{
	float:none;
	background-color: #303030;
}
.main_list ul a{
	color:#ffffff;
	font: 15px/25px Tahoma;
	display: block;
	padding-left: 10px;
}
.main_list ul li a:hover{
	text-decoration: underline;
}
.main_list li:hover ul{
	display: block;
}
.fon3{
	width: 100%;
	background-color: #edeef0;
	float: left;
	position: relative;
	overflow: hidden;
	color: #424c43;

}
.fon2{
	width: 100%;
	background-color: #ffffff;
	float: left;
	position: relative;
	right:210px;
	border-right: 1px solid #c7cacf;
}
.fon1{
	width: 100%;
	background-color: #edeef0;
	float: left;
	position: relative;
	right: 580px;
	border-right: 1px solid #c7cacf;
}

.first {
	width: 190px;
	float: left;
	overflow: hidden;
	position: relative;
	left: 800px;
}
.second {
	width: 578px;
	float: left;
	overflow: hidden;
	position: relative;
	left: 820px;
}
.third {
	width: 190px;
	float: left;
	overflow: hidden;
	position: relative;
	left: 820px;
}
.first p, .second p, .third p{
	font-weight: normal;
	text-align: center;
	font: 18px Tahoma;
	margin:5px 0;
}
.first span, .second span, .third span{
	display: block;
	font: 14px/26px Tahoma;
	text-align: justify;
}
.copy{
	display: block;
	margin-top: 5px;
	text-align: center;
	color: #cee3ec;
	font: 14px Tahoma;
}