*{
margin: 0;
padding: 0;
}
body {
background-color: #eeeeee;
}

#main {
	margin: 0 auto;
	background-color: #ffffff;
	color: #000000;
	height: 703px;
	width: 512px;
	padding-top: 45px;
	text-align: left;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
	border-radius: 3px;
}
#main p{
font-family: 'Times New Roman', Georgia, Times, serif;
font-weight: bold;
}
#main span{
font-size: 18px;
}
li{
line-height: 1.4;
}
.photo p{
font-size: 22px;
padding-bottom: 12px;
text-align: center;
}
.photo img{
width: 112px;
height: 140px;
border-radius:10px;
display: block; 
margin: 0 auto 9px;
}
.goal ul{
	list-style-type: disc;
	margin-left: 16px;
	font-size: 18px;
}
.list{
	display: block;
}
.goal p{
font-size: 18px;
padding-bottom: 30px;
}
.contact span {
	line-height: 1.4;
	display: block;
}
.space {
	margin-top: 27px;
}
.goal, .contact{
		padding-top: 25px;
		padding-bottom: 16px;
		padding-left: 15px;
		border-top: 1px solid #7a7a7a;
		margin:0 55px;
}
.photo{
		padding-bottom: 17px;
		padding-left: 15px;
		margin:0 55px;
}
.feedback{
		padding-top: 25px;
		padding-left: 7px;
		border-top: 1px solid #7a7a7a;
		margin:0 55px;
		line-height: 1.4;
}
.feedback span{
	display: block;
}