*{
margin: 0;
padding: 0;
}
body {
background-color: #eeeeee;
}

#main {
	margin: 0 auto;
	background-color: #ffffff;
	color: #000000;
	height: 750px;
	width: 550px;
	padding-top: 50px;
	text-align: left;
}
#main p{
font-family: 'Times New Roman', Georgia, Times, serif;
font-weight: bold;

}
#main span{
font-size: 13px;
}
li{
line-height: 20px;
}
#block1 p{
font-size: 15px;
padding-bottom: 25px;
text-align: center;
}
#block1 span{
padding-left: 60px;
}
#block1 img{
border-radius:10px;
display: block; 
margin-left: auto; 
margin-right: auto; 
margin-bottom: 15px;
}
.probel{
display: block;
}
.probel1{
display: block;
padding-bottom: 40px;
}
#block2 ul{
	list-style-type: disc;
	margin-left: 20px;
}
#block2 span{
line-height: 20px;
}

#block2 p{
font-size: 13px;
padding-bottom: 40px;
}
hr {
	width: 500px;
	color: #7a7a7a;
	height: 1px;
}
#block2, #block3{
		padding-top: 30px;
		padding-bottom: 20px;
		padding-left: 60px;
}
#block1{
		padding-bottom: 20px;
}
#block4{
		padding-top: 30px;
		padding-left: 60px;
}