.niceCheck {
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox.png);
    overflow: hidden;
}
.niceChecked {
    background-position: 0 -17px;
}
.niceCheck input {
    margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
    background-image: url(../img/checkbox-disabled.png);
}

label{
	margin-left: 30px;
}


