<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Local storage</title>
     <link rel="stylesheet" href="css/style.css">
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script type="text/javascript" src="js/template.js"></script> 

  </head>
  <body>
    <div class="wrapper">
      <p class="testTitle">Тест по программированию</p>
      <form method="post" action="">
        <script type = "text/template" id = "test">
       <% for (var key in temp){ %>
        <div class="answersBlock">
        <div><span><%=key%>. </span><span class="questionTitle"><%=temp[key].title%></span></div>
        <div><input type="checkbox" class="checkbox" name="answ1" id="<%=key%>.0" value="<%=temp[key].answers[0]%>"><label for="<%=key%>.0" class="answer"><%=temp[key].answers[0]%></label></div>
        <div><input type="checkbox" class="checkbox" name="answ2" id="<%=key%>.1" value="<%=temp[key].answers[1]%>"><label for="<%=key%>.1" class="answer"><%=temp[key].answers[1]%></label></div>
        <div><input type="checkbox" class="checkbox" name="answ3" id="<%=key%>.2" value="<%=temp[key].answers[2]%>"><label for="<%=key%>.2" class="answer"><%=temp[key].answers[2]%></label></div>
        </div>
       <% }%>
      </script>
      <input class="submit" type="submit" value="Проверить">
      </form>
    </div>
        <script type="text/javascript" src="js/dist/script.js"></script> 
  </body>
</html>
