body{
	background-color: #c0c0c0;
}
.wrapper{
	margin:50px auto;
}
table{
	background-color: white;
	border-collapse: collapse;
	color:transparent;
	width: 500px;
	height: 525px;
	table-layout: fixed;
}
td{
	border: 10px solid black;
}
.one{
	border-left:none;
}
.two{
	border-top: none;
}
.three{
	border-bottom: none;
}
.four{
	border-right: none;
}
.white {
	background-color: #ffffff;
}
.red {
	background-color: #ff583b;
}
.yellow {
	background-color: #fff362;
}
.blue {
	background-color: #0d4081;
}
.black {
	background-color: #090909;
}
.square1{
	width: 230px;
	height: 230px;
}
.square2{
	width: 60px;
	height: 60px;
}