.circles {
	margin-left: 50px;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.circle{
	float:left;
	position: relative;
	padding-right: 135px;
	z-index: 1;

}
.circle img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.circle-text{
	position: absolute;
	top: 85px;
	left: 6px;
	color: red;
	font-family: Tahoma;
	font-size: 12px;
	z-index: 2;
}
#list_of_titles, #list{
	float: left;
	width: 250px;
	height: 150px;
	overflow: hidden;
}
#list{
	padding-left: 80px;
}