header {
  background-image: url(../img/top_bg.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/top_bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/top_bg.jpg', sizingMethod='scale')";
  width: 100%; }

