@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: local("☺"), url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.eot");
  src: local("☺"), url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: local("☺"), url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.wrapper {
  width: 100%;
  box-sizing: border-box; }

header {
  background-image: url(../img/top_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/top_bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/top_bg.jpg', sizingMethod='scale')";
  width: 100%; }

.header_content {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 122px;
  margin-bottom: 0px; }

.register_style {
  float: left;
  margin: 28px 0 0 83px;
  font: 14px Montserrat-Bold, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer; }

.register_style:hover {
  color: #000; }

.register_style--sign {
  float: right;
  margin: 21px 86px 0 0;
  width: 85px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px; }

.title {
  display: block;
  font: 20px Montserrat-Bold, sans-serif;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.5px; }

.title--header {
  padding-top: 170px; }

.header_content__slogan {
  display: block;
  text-transform: uppercase;
  font: 30px Montserrat-Bold, sans-serif;
  margin-top: 27px;
  text-align: center;
  color: #ffffff; }

.header_content__partner {
  display: block;
  font: 18px/20px robotolight, sans-serif;
  margin-top: 9px;
  text-align: center;
  color: #ffffff; }

.block {
  display: block; }

.button {
  width: 280px;
  height: 40px;
  margin: 16px auto;
  background-color: #ff4e50;
  color: #ffffff;
  text-align: center;
  font: 14px/40px Montserrat-Bold, sans-serif;
  border-radius: 20px;
  cursor: pointer; }

.button:hover {
  color: #000;
  height: 36px;
  border: 2px solid #ff4e50;
  background-color: #ffffff; }

.how-work {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
  padding: 35px 10px 10px 10px;
  box-sizing: border-box; }

.slider {
  display: none; }

.title--steps, .title--partners {
  font-size: 22px;
  margin-top: 0;
  color: #000; }

.how-work__step {
  width: 300px;
  height: 240px;
  background: url(../img/step1.png) no-repeat;
  margin: 10px auto;
  position: relative; }

.how-work__step--step2 {
  background: url(../img/step2.png) no-repeat; }

.how-work__step--step3 {
  background: url(../img/step3.png) no-repeat; }

.step-btn {
  display: block;
  width: 70px;
  height: 20px;
  font: 10px/20px montserrat, sans-serif;
  background-color: #ff4e50;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
  left: 20px; }

.step-btn:hover {
  width: 68px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #ff4e50;
  color: #000; }

.step-btn--step2 {
  top: 100px; }

.step-title {
  display: block;
  font: 24px/24px Montserrat-Bold, sans-serif;
  color: #fff;
  position: absolute;
  top: 110px;
  left: 20px; }

.step-title--step2 {
  top: 140px; }

.step-text {
  display: block;
  font: 14px/15px robotolight, sans-serif;
  color: #fff;
  position: absolute;
  top: 177px;
  left: 20px; }

.partners {
  margin-top: 15px;
  margin-bottom: 36px; }

.partners-list {
  width: 320px;
  margin: 13px auto; }

.partners-list__item {
  text-align: center; }

.icon-circle1:before, .icon-circle2:before, .icon-circle3:before, .icon-circle4:before {
  content: '';
  background: url("../img/circle1.png") no-repeat;
  width: 41px;
  height: 40px;
  position: absolute;
  top: 87px;
  left: 85px;
  z-index: 100; }

.icon-circle2:before {
  background: url("../img/circle2.png") no-repeat; }

.icon-circle3:before {
  background: url("../img/circle3.png") no-repeat; }

.icon-circle4:before {
  background: url("../img/circle4.png") no-repeat; }

.item-photo {
  display: block;
  width: 125px;
  margin: 0 auto 16px;
  position: relative; }

.item-name {
  font: 14px Montserrat-Bold, sans-serif;
  text-align: center;
  color: #333; }

.item-hobby {
  width: 230px;
  margin: 11px auto;
  font: 14px/18px robotolight, sans-serif;
  text-align: center;
  color: #666; }

.partners-list__item {
  margin-bottom: 25px; }

.partners__btn {
  margin: -2px auto;
  width: 275px;
  height: 36px;
  border: 2px solid #ff4e50;
  border-radius: 18px;
  color: #ff4e50;
  font: 14px/40px Montserrat-Bold, sans-serif;
  text-align: center;
  cursor: pointer; }

.partners__btn:hover {
  color: #000;
  height: 36px;
  background-color: #ff4e50; }

.images {
  width: 320px;
  margin: 0px auto 25px;
  box-sizing: border-box; }

.title--images {
  color: #000;
  font-size: 22px; }

.modal {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }

.modal-overlay {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-image {
  display: inline-block;
  max-height: 600px;
  max-width: 800px;
  z-index: 3;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.75); }

.grid {
  margin-top: 5px; }

.grid-item {
  width: 300px;
  height: 238px;
  float: left;
  border-radius: 5px;
  margin: 5px 0 4px 5px;
  background-size: cover;
  border: 1px solid #cecece;
  position: relative; }

.img-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2; }

.img-shadow:hover {
  background-color: transparent; }

.grid-item--width2 {
  width: 300px;
  float: left; }

.images__category {
  font: 22px/238px Montserrat-Bold, sans-serif;
  text-align: center;
  color: #000; }

.form-interest {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 23px; }

.form-interest--center {
  text-align: center; }

.form-interest__question {
  display: block;
  font: 18px robotolight, sans-serif;
  color: #363636;
  margin-top: 10px; }

.form-interest__input {
  display: block;
  width: 260px;
  height: 35px;
  border: 1px solid #989898;
  border-radius: 5px;
  margin: 13px 0 10px 17px;
  padding-left: 15px;
  font: 14px/35px robotolight, sans-serif; }

.button--interest {
  margin-top: 2px;
  border: none; }

.button--interest:hover {
  color: #000;
  height: 40px;
  line-height: 36px;
  border: 2px solid #ff4e50;
  background-color: #ffffff; }

.button--interest:focus {
  outline: none; }

footer {
  width: 100%;
  border-top: 3px solid #de4f51; }

.footer {
  width: 320px;
  margin: 18px auto;
  text-align: center; }

.title--footer {
  font-size: 16px;
  color: #de4f51; }

.footer-categories {
  display: block;
  font: 14px Montserrat-Bold, sans-serif;
  color: #363636;
  margin: 12px 0 5px 0; }

.footer-menu {
  width: 240px;
  margin: -4px auto; }

.footer-menu__item {
  list-style: none;
  float: left;
  margin-left: 15px; }

.footer-menu__link {
  text-decoration: none;
  font: 14px robotolight, sans-serif;
  color: #666; }

.footer-copyright {
  display: block;
  font: 10px Montserrat-Bold, sans-serif;
  color: #cccccc;
  margin: 14px 0 5px 0; }

.footer-logo {
  width: 110px;
  height: 24px;
  margin: 8px auto 0;
  padding-bottom: 10px;
  background: url(../img/partners_logo.jpg) no-repeat; }

@media (min-width: 768px) and (max-width: 949px) {
  .header_content {
    width: 768px;
    padding-bottom: 196px; }
  .header_content__register {
    margin-bottom: 115px; }
  .register_style {
    float: right;
    margin: 44px 18px 0 0; }
  .register_style--sign {
    margin: 37px 53px 0 0; }
  .title--header {
    float: left;
    margin: -126px 0 0 49px; }
  .header_content__slogan {
    width: 500px;
    font: 52px Montserrat-Bold, sans-serif;
    margin: 0 auto;
    padding-top: 211px; }
  .header_content__partner {
    font-size: 24px;
    margin-top: 24px; }
  .block {
    display: inline; }
  .button {
    width: 225px;
    margin: 38px auto; }
  .how-work {
    width: 768px;
    padding-top: 96px; }
  .how-work__slider320px {
    display: none; }
  .slider {
    display: block;
    width: 768px;
    margin: 0 auto;
    box-sizing: border-box; }
  .how-work__carousel1 {
    position: relative;
    display: block;
    float: left; }
  .title--steps {
    display: block;
    width: 315px;
    margin: 0 auto;
    text-align: center; }
  .step-btn {
    top: 213px;
    left: 27px; }
  .step-btn--step2 {
    top: 260px; }
  .step-title {
    top: 254px;
    left: 25px; }
  .step-title--step2 {
    top: 298px; }
  .step-text {
    top: 315px;
    left: 20px;
    padding: 5px; }
  .step-text--step2 {
    top: 332px; }
  .partners {
    margin-top: 99px;
    margin-bottom: 5px; }
  .partners-list {
    width: 460px;
    margin: 30px auto 46px; }
  .partners-list__item {
    width: 230px;
    float: left;
    margin-bottom: 10px; }
  .partners__btn {
    width: 190px;
    margin: 10px auto 97px;
    height: 36px; }
  .images {
    width: 768px;
    margin: 0px auto 82px; }
  .images__category {
    line-height: 310px; }
  .grid {
    width: 768px;
    margin-top: 25px;
    box-sizing: border-box; }
  .grid-item {
    width: 230px;
    height: 310px;
    margin: 5px 5px 15px 5px; }
  .grid-item--width2 {
    width: 480px; }
  .form-interest {
    width: 768px;
    padding-bottom: 91px; }
  .form-interest__question {
    margin-top: 28px; }
  .form-interest__input {
    float: left;
    width: 222px;
    height: 35px;
    margin: 37px 0 10px 171px; }
  .button--interest {
    float: left;
    width: 162px;
    margin: 35px 1px 1px 9px; }
  .footer {
    width: 768px;
    margin: 18px auto;
    text-align: center; }
  .title--footer {
    float: left;
    margin: 18px 0 0 34px; }
  .footer-categories {
    float: left;
    margin: 21px 0 0 85px; }
  .footer-categories--partners {
    margin: 20px 0 0 30px; }
  .footer-menu {
    float: left;
    width: 240px;
    margin: 47px 0 0 -168px; }
  .footer-menu__item {
    float: none;
    margin: 0 0 4px 0; }
  .footer-copyright {
    float: left;
    margin: 20px 1px 5px 153px;
    letter-spacing: 1px; }
  .footer-logo {
    float: left;
    margin: 2px 0 0 214px; } }

@media (min-width: 950px) {
  .header_content {
    width: 950px;
    padding-bottom: 196px;
    margin-bottom: 1px; }
  .header_content__register {
    margin-bottom: 115px; }
  .register_style {
    float: right;
    margin: 46px 21px 0 0; }
  .register_style--sign {
    margin: 37px 7px 0 0; }
  .title--header {
    float: left;
    margin: -126px 0 0 7px; }
  .header_content__slogan {
    width: 500px;
    font: 52px Montserrat-Bold, sans-serif;
    margin: 0 auto;
    padding-top: 209px; }
  .header_content__partner {
    font-size: 24px;
    margin-top: 24px; }
  .block {
    display: inline; }
  .button {
    width: 225px;
    margin: 38px auto; }
  .how-work {
    width: 950px;
    padding-top: 96px; }
  .how-work__slider320px {
    display: none; }
  .slider {
    display: block;
    width: 950px;
    margin: 0 auto;
    box-sizing: border-box; }
  .how-work__carousel1 {
    position: relative;
    display: block;
    float: left; }
  .title--steps {
    display: block;
    width: 950px;
    margin: 0 auto;
    text-align: center; }
  .step-btn {
    top: 232px;
    left: 23px; }
  .step-btn--step2 {
    top: 260px; }
  .step-title {
    top: 273px;
    left: 20px; }
  .step-title--step2 {
    top: 298px; }
  .step-text {
    top: 333px;
    left: 14px;
    padding: 5px; }
  .step-text--step2 {
    top: 332px; }
  .partners {
    margin-top: 99px;
    margin-bottom: 5px; }
  .partners-list {
    width: 950px;
    margin: 30px auto 12px; }
  .partners-list__item {
    width: 230px;
    float: left;
    margin-bottom: 10px;
    margin-right: 7px; }
  .partners__btn {
    width: 190px;
    margin: 10px auto 97px;
    height: 36px; }
  .images {
    width: 950px;
    margin: 0px auto 82px; }
  .images__category {
    line-height: 310px; }
  .grid {
    margin-top: 25px;
    box-sizing: border-box; }
  .grid-item {
    width: 295px;
    height: 310px;
    margin: 5px 10px 10px 5px; }
  .grid-item--width2 {
    width: 615px; }
  .form-interest {
    width: 430px;
    margin: 0 auto;
    padding-bottom: 91px; }
  .form-interest__question {
    margin-top: 28px; }
  .form-interest__input {
    float: left;
    width: 222px;
    height: 35px;
    margin: 37px 0 10px 10px; }
  .button--interest {
    float: left;
    width: 162px;
    margin: 35px 1px 1px 9px; }
  .footer {
    width: 950px;
    margin: 18px auto;
    text-align: center; }
  .title--footer {
    float: left;
    margin: 18px 0 0 4px; }
  .footer-categories {
    float: left;
    margin: 21px 0 0 98px; }
  .footer-categories--partners {
    margin: 20px 0 0 22px; }
  .footer-menu {
    float: left;
    width: 240px;
    margin: 47px 0 0 -168px; }
  .footer-menu__item {
    float: none;
    margin: 0 0 4px 0; }
  .footer-copyright {
    float: left;
    margin: 20px 1px 5px 400px;
    letter-spacing: 1px; }
  .footer-logo {
    float: left;
    margin: 2px 0 0 450px; } }
